body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  position: relative;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-timing-function: ease-out;
  transition: 0.5s;
}

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #61dafb;
  transition-timing-function: ease-out;
  transition: 2s;
}

.container {
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 70px;
  border-bottom: 1px solid #61dafb;
  margin-bottom: 15px;
  margin-top: 0;
}

.row {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.clock {
  width: 60px;
  height: 150px;
  padding: 20px;
  margin: 20px;
  margin-top: 0;
  border: 1px solid #60d9fb;
  border-radius: 8px;
}

.clock h2 {
  font-size: 30px;
}

.clock p {
  text-align: center;
  align-items: center;
}

.inputArea {
  background-image: url("./assets/images/background/input.png");
  background-size: auto;
  position: fixed;
  width: 1116px;
  height: 702px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 35px 0 rgb(96 217 251/ 10%);
  border-radius: 8px;
}

.inputArea .btn {
  position: absolute;
  top: 0;
  right: 0;
}
